body {
    background-color: rgb(240, 248, 255);
}

.bg-main {
    background: url("../img/main_bg_small.jpg") no-repeat center 0;
}

.mobile-form {
    max-width: 360px;
    margin-top: 10px;
}

.couple-code{
    max-width: 280px;
}

form {
    background-color: rgba(240, 248, 255, 0.8);
    padding: 10px 30px;
}

.overlay {
    display: none;
    position:fixed;
    bottom: 0;
}

.overlay img {
    width: 100%;
}

/*** SPANNER ***/
.spanner {
    line-height: 0.5;
    text-align: center;
}
.spanner span {
    display: inline-block;
    position: relative;
    font-weight: bold;
    color: #000000;
    font-size: 1.2em;
}

.spanner span:before,
.spanner span:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid #000000;
    top: 0;
    width: 60px;
}

.spanner span:before {
    right: 100%;
    margin-right: 15px;
}
.spanner span:after {
    left: 100%;
    margin-left: 15px;
}

/*** SWIPER ***/
#swiper {
    background: rgb(240, 248, 255);
    height: 450px;
    text-align: center;
    padding: 0 15px;
    position: relative;
}

#swiper .swiper-container {
    overflow: hidden;
    height: 450px;
}

#swiper .swiper-footer {
    margin-top: 10px;
}

#swiper .swiper-imgText {
    width: 300px;
    position: absolute;
    padding: 10px 0;
    margin-top: -5px;
    background: rgb(240, 248, 255);
    font-weight: bold;
}

#swiper .img-preference {
    width: 300px;
}

#swiper .img-btn {
    width: 50px;
    height: 50px;
    margin: 0 30px;
}

#swiper .swiper-progress {
    position: absolute;
    bottom: 0;
    width: 15px;
    height: 0%;
    background-color: #6fade3;
}

.flash-green { 
    animation-name: blur-green;
    animation-duration: 0.6s;
}

.flash-red { 
    animation-name: blur-red;
    animation-duration: 0.6s;
}

@keyframes blur-red {
    from { background-color: rgba(255, 0, 0, 0.6); }
    to { background-color: rgba(240, 248, 255, 0.8); }
}

@keyframes blur-green {
    from { background-color: rgba(0, 255, 0, 0.6); }
    to { background-color: rgba(240, 248, 255, 0.8); }
}

.swiper-label {
    display: none;
    padding-top: 14px;
    font-size: 1.6em;
    font-weight: bold;
    width: 150px;
    height: 60px;
    position: absolute;
    top: 60px;
}

.swiper-label-yes {
    color: #45CF90;
    border: 4px solid #45CF90;
    right: 70px;
}

.swiper-label-no {
    color: #FC6B68;
    border: 4px solid #FC6B68;
    left: 70px;
}

.skip {
    margin-top: 25px;
    margin-left: 75px;
}

/*** CHOOSER ***/

#chooser {
    position: absolute;
    bottom: 0;
}

#pin {
    width: 50px;
    height: 64px;
    cursor: move;
    position: absolute;
    background: url("../img/icons/boy-pin.png") no-repeat center center;
    bottom: 74px;
    left: 10px;
    margin-bottom: -64px;
}

.drag-stop {
    pointer-events: none;
}

.bgbody {
    background-color: #C6DFAB;
}

#zone-text-container {
    background: none;
}

#zone-text-container #bar img {
    position: absolute;
    top: 50px;
    left: 115px;
    width: 220px;
}

#zone-text-container #bar span {
    position: absolute;
    color: #949692;
    top: 46px;
    margin: 0;
}

#zone-text-container #bar .bar-text-left {
    left: 25px;
}

#zone-text-container #bar .bar-text-right {
    right: 30px;
}

#zone-text-container .zone-container {
    width: 100%;
    height: 200px;
    padding-top: 70px;
    text-align: center; 
    font-size: 1.5em;
    background: url('../img/moods/giftbox.png') no-repeat center 0;
}

#zone-text-container h5 {
    margin: 5px;
    font-size: 1em;
}

#zone-text-container span {
    color: #C6DFAB;
    margin: 5px;
    display: block;
}

#zone-text-container .zone-button {
    display: inline;
    color: #C6DFAB;
    border-color: #C6DFAB;
    width: 100px;
    background: none;
    font-size: 1.2em;
    border-width: 2px;
}

body.zone-A {
    background-color: #C6DFAB;
}

body.zone-A #zone-text-container span{
    color: #C6DFAB;
}

body.zone-A #zone-text-container .zone-button{
    color: #C6DFAB;
    border-color: #C6DFAB;
}

body.zone-B {
    background-color: #F47070;
}

body.zone-B #zone-text-container span{
    color: #F47070;
}

body.zone-B #zone-text-container .zone-button{
    color: #F47070;
    border-color: #F47070;
}

body.zone-C  {
    background-color: #EB86B4;
}

body.zone-C #zone-text-container span{
    color: #EB86B4;
}

body.zone-C #zone-text-container .zone-button{
    color: #EB86B4;
    border-color: #EB86B4;
}

body.zone-D {
    background-color: #C58CCA;
}

body.zone-D #zone-text-container span{
    color: #C58CCA;
}

body.zone-D #zone-text-container .zone-button{
    color: #C58CCA;
    border-color: #C58CCA;
}

body.zone-E {
    background-color: #C5BEF0;
}

body.zone-E #zone-text-container span{
    color: #C5BEF0;
}

body.zone-E #zone-text-container .zone-button{
    color: #C5BEF0;
    border-color: #C5BEF0;
}

body.zone-F {
    background-color: #86AEF1;
}

body.zoneF #zone-text-container span{
    color: #86AEF1;
}

body.zoneF #zone-text-container .zone-button{
    color: #86AEF1;
    border-color: #86AEF1;
}

/*** PROFILE ***/
.profile {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 120px;
}

.profile .profile-img {
    border-radius: 50%;
}

.profile .spanner {
    margin-top: -120px;
}

.profile .spanner span:before,
.profile .spanner span:after {
    height: 14px;
}

.profile .spanner span:before {
    margin-right: 2px;
}

.profile .spanner span:after {
    margin-left: 2px;
}

/*** MEMORIES ***/
.memories {
    overflow: auto;
    height: 100%;
}

.memories img {
    width: 100%;
}

/*** SUGGESTIONS ***/
.result-box {
    position: relative;
}

.info-box {
    position: absolute;
    bottom: 5px;
    left: 4px;
    right: 4px;
    background-color: rgba(200,200,200, 0.8);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 80px;
    padding: 10px;
}

.info-tags {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.info-tags li {
    float: left;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0 10px;
    margin: 0 5px;
}